$color-title: #721c24;
$color-navbar: #d87f27;

$primario: #45315d;
$secundario: #2370a0;
$rosado: #e24647;
$naranja: #F69314;
$verde: #659b4d;
$verde-claro: #8CC73A;
$celeste: #509aae;
$celeste-dark: #1489a9;
$gris: #ebebeb;
$gris-fuerte: #516060;
$corinto: #9e1d20;
$gris-dark: #516060;
$gris-celeste: #e1e1e1;

