miav
venv
myvenv
media
.media
*media
/media/
*.pyc
staticfiles
.env
.myvenv
.idea
db.sqlite3
db
*.sqlite3
Thumbs.db
.vscode
local_settings.py
.local_settings
npm-debug.log
.npm-debug.log
codealike.json
